extends ./layout.pug

block main
  // Products list
  .bg0.m-t-23.p-b-140
    .container
      .flex-w.flex-sb-m.p-b-52
        .flex-w.flex-l-m.filter-tope-group.m-tb-10
          button.stext-106.cl6.hov1.bor3.trans-04.m-r-32.m-tb-5(data-filter='*' class=`${selected ? '' : 'how-active1 default'}`)
            | All Products
          each cat in categories
            button.stext-106.cl6.hov1.bor3.trans-04.m-r-32.m-tb-5(data-filter=`.${cat.uid}` class=`${selected===cat.uid ? 'how-active1 default' : ''}`)= cat.name
          
      .row.isotope-grid
        each p in products
          .col-sm-6.col-md-4.col-lg-3.p-b-35.isotope-item.women(class=`${p.category}`)
            // Block2
            .block2
              .block2-pic.hov-img0
                img(src=p.image.url, alt='product-image')
                a.block2-btn.flex-c-m.stext-103.cl2.size-102.bg0.bor2.hov-btn1.p-lr-15.trans-04.js-show-modal1(href='#')
                  | Quick View
              .block2-txt.flex-w.flex-t.p-t-14
                .block2-txt-child1.flex-col-l
                  a.stext-104.cl4.hov-cl1.trans-04.js-name-b2.p-b-6(href=`/product/${p.uid}`)= p.name
                  span.stext-105.cl3= p.startingPrice
                .block2-txt-child2.flex-r.p-t-3
                  a.btn-addwish-b2.dis-block.pos-relative.js-addwish-b2(href='#')
                    img.icon-heart1.dis-block.trans-04(src='/images/icons/icon-heart-01.png', alt='ICON')
                    img.icon-heart2.dis-block.trans-04.ab-t-l(src='/images/icons/icon-heart-02.png', alt='ICON')
      // Load more
      .flex-c-m.flex-w.w-full.p-t-45
        a.flex-c-m.stext-101.cl5.size-103.bg2.bor1.hov-btn1.p-lr-15.trans-04(href='#')
          | Load More
